---

# in ubuntu 16.04 with ansible 2.1 appears issue with /usr/bin/python
# install docker with angstwad.docker_ubuntu

- hosts: all
  remote_user: root
  gather_facts: no

  pre_tasks:

   - name: apt-get update
     raw: apt-get update -qq

  #  - name: apt-get upgrade
  #    raw: apt-get -qq upgrade

   - name: Install python 2.7
     raw: apt-get install -qq python2.7

   - name: Make available /usr/bin/python
     raw: ln -s -f /usr/bin/python2.7 /usr/bin/python


- hosts: all
  remote_user: root
  roles:
   - role: angstwad.docker_ubuntu

  tasks:

   - name: "Install must have packages"
     apt:
       name: "{{item}}"
     with_items:
       - tmux
       - curl
       - tree
       - htop

   - name: "Fix docker-py version"
     # https://github.com/ansible/ansible/issues/17495#issuecomment-246530778
     command: pip install 'docker-py==1.9.0' --force-reinstall
