---

- hosts: main
  remote_user: root
  vars_files:
    - ../vars/default.yml
    - ../vars/credentials.yml

  tasks:

    - name: Create directories for common logs and errors
      file: "path={{root_balancer_dir}}/logs state=directory"

    - name: Create acme/.well-known directory
      file: "path={{acme_dir}}/.well-known state=directory"

    - name: Sync custom letsencrypt_worker app
      synchronize:
          src: ../letsencrypt/
          dest: "{{root_balancer_dir}}/letsencrypt-code/"

    - name: Gen main nginx.conf
      template:
          src: ../templates/nginx.jinja2.conf
          dest: "{{root_balancer_dir}}/nginx.conf"

    - name: Run balancer and letsencrypt_worker in docker-compose
      docker_service:
        state: present
        recreate: always
        project_name: balancer
        definition:
          version: '2'
          services:
            nginx:
              image: nginx
              restart: always
              container_name: balancer
              ports:
                - "80:80"
                - "443:443"
              volumes:
                - "{{conf_balancer_dir}}/:/etc/nginx/conf.d:ro"
                - "{{root_balancer_dir}}/nginx.conf:/etc/nginx/nginx.conf:ro"
                - "{{root_balancer_dir}}/logs:/var/log/nginx"
                - "{{acme_dir}}:{{in_container_acme_dir}}"
                - "{{root_balancer_dir}}/letsencrypt/:/etc/letsencrypt/:ro"
              networks:
                - network
            letsencrypt:
              container_name: letsencrypt
              build: "{{root_balancer_dir}}/letsencrypt-code"
              restart: always
              volumes:
                - "{{root_apps_dir}}:/apps"
                - "{{acme_dir}}:{{in_container_acme_dir}}"
                - "{{root_balancer_dir}}/letsencrypt/:/etc/letsencrypt/"
              environment:
                - "EMAIL={{letsencrypt_email}}"
          networks:
            # `balancer_network` will create
            # so containers can join to this network for availabilty from nginx
            network:
    - assert:
        that:
          - "nginx.balancer.state.running"
    # - expect:
    #     command: openssl dhparam -out /etc/ssl/certs/dhparam.pem 2048
    #     responses:
    # - name: Generate Strong Diffie-Hellman Group
    #   command:
    #   # args:
      #   removes: /etc/ssl/certs/dhparam.pem

    # TODO: add timeout
    # check for container is not resttarting
    # check logs

#
